.buttom {
  height: 21px;
  color: #391400A3;
  outline: none;
  border: none;
  background-color: inherit;
  font-size: 16px;
}

.buttom.selected {
    color: #90E149
  }
 
 .buttom:hover {
    color: #90E149;
    transition: .3s;
    cursor: pointer;
  }

  .buttom:not(:last-child) {
    padding-right: 60px;
}

@media (max-width: 600px) {
  .buttom:not(:last-child) {
      padding: 0px;
    }
}
@media (max-width: 500px) {
  .buttom {
    border: 1px solid;
    padding: 5px;
    height: 31px;
    font-size: 16px;
    border-radius: 7px;
    width: 90px;
    margin: 4px;
    }
}

